# 2025-09-28.
# Requirements of the topoflow36 Python package.
# Created for Docker image that uses Python 3.9.
Brotli==1.0.9
certifi==2025.8.3
cftime==1.6.4
cfunits==3.3.7
contourpy==1.2.1
cycler==0.11.0
fonttools==4.55.3
GDAL==3.11.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_resources==6.4.0
kiwisolver==1.4.4
matplotlib==3.9.2
netCDF4==1.6.5
numpy==2.0.2
packaging==25.0
pillow==11.3.0
pip==25.2
pyparsing==3.2.0
python-dateutil==2.9.0.post0
scipy==1.13.1
setuptools==72.1.0
six==1.17.0
tornado==6.5.1
unicodedata2==15.1.0
wheel==0.45.1
zipp==3.21.0
