#===============================================================================
# TopoFlow Config File for: Glacier_Energy_Balance
#===============================================================================
# Input
comp_status         | Enabled      | string    | component status {Enabled; Disabled}
n_steps             | 10          | long      | number of time steps
dt                  | 3600.0               | float     | timestep for snowmelt process [sec]
Cp_snow_type        | Scalar     | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
Cp_snow             | 2090.0          | float     | heat capacity of snow [J/kg/K]
Cp_ice_type        | Scalar     | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
Cp_ice             | 2060.0          | float     | heat capacity of snow [J/kg/K]
rho_snow_type       | Scalar    | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
rho_snow            | 300.0         | float     | density of snow [kg/m^3]
rho_ice_type       | Scalar    | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
rho_ice            | 917.0         | float     | density of ice [kg/m^3]
h_active_layer_type    | Scalar    | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
h_active_layer    | 0.125         | float     | thickness of active ice layer [m]
T0_type             | Scalar          | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
T0                  | -0.2               | float     | reference temperature [deg C]
h0_snow_type        | Scalar     | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
h0_snow             | 2.0          | float     | depth of snow [m]
h0_ice_type        | Scalar     | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
h0_ice             | 2.0          | float     | depth of ice [m]
h0_swe_type         | Scalar      | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
h0_swe              | 0.6           | float     | depth of snow water equivalent (SWE) [m]
h0_iwe_type         | Scalar      | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
h0_iwe              | 1.834           | float     | depth of ice water equivalent (IWE) [m]
#===============================================================================
# Output 1
save_grid_dt        | 60.0     | float     | time interval between saved grids [sec]
SAVE_SMR_GRIDS       | Yes    | string    | option to save grids of snow meltrate {Yes; No}
smr_gs_file          | [case_prefix]_2D-SMrate.nc       | string    | filename for grid stack of snow meltrate [m/s]
SAVE_IMR_GRIDS       | Yes    | string    | option to save grids of ice meltrate {Yes; No}
imr_gs_file          | [case_prefix]_2D-IMrate.nc       | string    | filename for grid stack of ice meltrate [m/s]
SAVE_HS_GRIDS       | Yes    | string    | option to save grids of snow depth {Yes; No}
hs_gs_file          | [case_prefix]_2D-hsnow.nc       | string    | filename for grid stack of snow depth [m]
SAVE_HI_GRIDS       | Yes    | string    | option to save grids of ice depth {Yes; No}
hi_gs_file          | [case_prefix]_2D-hice.nc       | string    | filename for grid stack of ice depth [m]
SAVE_SW_GRIDS       | Yes    | string    | option to save grids of snow water equivalent {Yes; No}
sw_gs_file          | [case_prefix]_2D-hswe.nc       | string    | filename for grid stack of snow water equivalent [m]
SAVE_CC_GRIDS       | No    | string    | option to save grids of cold content {Yes; No}
cc_gs_file          | [case_prefix]_2D-Ecc.nc       | string    | filename for grid stack of cold content [J/m^2]
SAVE_IW_GRIDS       | Yes    | string    | option to save grids of ice water equivalent {Yes; No}
iw_gs_file          | [case_prefix]_2D-hiwe.nc       | string    | filename for grid stack of ice water equivalent [m]
SAVE_CCI_GRIDS       | No    | string    | option to save grids of ice cold content {Yes; No}
cci_gs_file          | [case_prefix]_2D-Ecci.nc       | string    | filename for grid stack of cold content [J/m^2]
SAVE_TMR_GRIDS       | Yes    | string    | option to save grids of combined ice/snow meltrate {Yes; No}
tmr_gs_file          | [case_prefix]_2D-TMrate.nc       | string    | filename for grid stack of combined ice/snow meltrate [m/s]
#===============================================================================
# Output 2
save_pixels_dt      | 60.0   | float     | time interval between time series values [sec]
pixel_file          | [case_prefix]_outlets.txt       | string    | filename for monitored pixel info
SAVE_SMR_PIXELS      | Yes   | string    | option to save time series of snow meltrate {Yes; No}
smr_ts_file          | [case_prefix]_0D-SMrate.txt       | string    | filename for time series of snow meltrate [m/s]
SAVE_IMR_PIXELS      | Yes   | string    | option to save time series of ice meltrate {Yes; No}
imr_ts_file          | [case_prefix]_0D-IMrate.txt       | string    | filename for time series of ice meltrate [m/s]
SAVE_HS_PIXELS      | Yes   | string    | option to save time series of snow depth {Yes; No}
hs_ts_file          | [case_prefix]_0D-hsnow.txt       | string    | filename for time series of snow depth [m]
SAVE_HI_PIXELS      | Yes   | string    | option to save time series of ice depth {Yes; No}
hi_ts_file          | [case_prefix]_0D-hice.txt       | string    | filename for time series of ice depth [m]
SAVE_SW_PIXELS      | Yes   | string    | option to save time series of snow water equivalent {Yes; No}
sw_ts_file          | [case_prefix]_0D-hswe.txt       | string    | filename for time series of snow water equivalent [m]
SAVE_CC_PIXELS      | Yes   | string    | option to save time series of cold content {Yes; No}
cc_ts_file          | [case_prefix]_0D-Ecc.txt       | string    | filename for time series of cold content [J/m^2]
SAVE_IW_PIXELS      | Yes   | string    | option to save time series of ice water equivalent {Yes; No}
iw_ts_file          | [case_prefix]_0D-hiwe.txt       | string    | filename for time series of ice water equivalent [m]
SAVE_CCI_PIXELS      | Yes   | string    | option to save time series of ice cold content {Yes; No}
cci_ts_file          | [case_prefix]_0D-Ecci.txt       | string    | filename for time series of ice cold content [J/m^2]
SAVE_TMR_PIXELS      | Yes   | string    | option to save time series of combined ice/snow meltrate {Yes; No}
tmr_ts_file          | [case_prefix]_0D-TMrate.txt       | string    | filename for time series of combined ice/snow meltrate [m/s]
